@charset "UTF-8";

.conArea {padding-top: 90px; width: 100%; text-align: center;}

.conArea span.emTxt {color: #c78686;}
.conArea p {padding: 30px 0; height: 30px; line-height: 30px;}

.conArea .sTitle {width: 300px; border-bottom: 1px solid #888; padding-bottom: 5px; padding-right: 10px;}
.conArea .bsTxt {margin: 10px 0;} 
.conArea .bsTxt h2 {margin-top: 30px;}

.conArea .item1 {padding-bottom: 40px;}

.conArea .bsItem2 {padding-top: 80px; width: 1000px; margin: 0 auto;}
.conArea .bsImg.item2 {float: left; padding: 50px; }
.conArea .bsTxt.item2  {padding-top: 500px; padding-right: 100px; text-align: left; float: right;}

.conArea .bsItem3 {padding-top: 100px;}
.conArea .bsItem3 {position: relative;}
.conArea .bsItem3 > .bsTxt {position: absolute; top: 250px; left: 250px; text-align: left;}
.conArea .bsImg.item3 {width: 1000px; margin: 0 auto;}

.conArea .qaArea {padding-top: 100px; text-align: left; vertical-align: middle; width: 800px; margin: 0 auto;}
.conArea .qaArea ul li img {width: 100px; float: left; padding: 30px 40px;}
.conArea .qaArea ul li span {padding-top: 45px; width: 600px; height: 30px; line-height: 30px; position: absolute;}
.conArea .qaArea ul {padding-top: 50px;}

.conArea .bradLogo {width: 480px; margin: 100px auto;}